//
//
//
& when (@media-common = true) {
    #cssmqd {
        background: #fff;
        border: 1px solid #333;
        border-radius: 2px 0;
        bottom: -1px;
        color: #000;
        line-height: 1em;
        padding: 10px 20px;
        position: fixed;
        right: 50%;
        transform: translateX(50%);

        &:before {
            display: inline-block;
            margin-right: 5px;
        }

        &:after {
            font-weight: bold;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xxs) {
    #cssmqd {
        &:after {
            content: "@{screen__xxs} (xxs)";
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    #cssmqd {
        &:after {
            content: "@{screen__xs} (xs)";
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    #cssmqd {
        &:after {
            content: "@{screen__s} (s)";
        }
    }
}


.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    #cssmqd {
        &:before {
            content: "max:";
        }

        &:after {
            content: "@{screen__m} (m)";
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    #cssmqd {
        &:before {
            content: "min:";
        }

        &:after {
            content: "@{screen__m} (m)";
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    #cssmqd {
        &:after {
            content: "@{screen__l} (l)";
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    #cssmqd {
        &:after {
            content: "@{screen__xl} (xl)";
        }
    }
}
